<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Password</title>
</head>
<body>
<form action="#" th:action="@{/profile/changePassword}" th:object="${passwordChanger}" method="post">
    <h2>Change password:</h2>
    <input type="text" placeholder="Old password" id="oldPassword" name="oldPassword" maxlength="30"
           th:field="*{oldPassword}"/>
    <span th:text="${oldPasswordError}"></span>
    <input type="text" id="newPassword" name="newPassword" maxlength="30" th:field="*{newPassword}"
           placeholder="New password"/>
    <input type="text" id="confirmedPassword" name="confirmedPassword" maxlength="30" th:field="*{confirmedPassword}"
           placeholder="Confirm new password"/>
    <span th:text="${newPasswordError}"></span>
    <button type="submit" id="search">Search</button>


</form>
</body>
</html>