<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Password</title>
    <link href = "../public/image/header-logo.jpg" rel="icon" type="image/jpg"/>
</head>
<body>

<div class="header">
    <img th:src="@{/img/fullLogo}" height="100" width="100"/>
    <label class="title"><b>Walkie Talkie</b></label>
</div>

<form action="#" th:action="@{/profile/changePassword}" th:object="${passwordChanger}" method="post">
    <h2>Change password:</h2>
    <div>
        <input type="text" placeholder="Old password" id="oldPassword" name="oldPassword" maxlength="30"
               th:field="*{oldPassword}"/>
        <span th:text="${oldPasswordError}"></span>
    </div>
    <div>
        <input type="text" id="newPassword" name="newPassword" maxlength="30" th:field="*{newPassword}"
               placeholder="New password"/>
    </div>
    <div>
        <input type="text" id="confirmedPassword" name="confirmedPassword" maxlength="30"
               th:field="*{confirmedPassword}"
               placeholder="Confirm new password"/>
        <span th:text="${newPasswordError}"></span>
    </div>
    <button type="submit" id="change">Change Password</button>
</form>

<form th:action="@{/profile}" method="get">
    <button type="submit" id="add">Back To Profile</button>
</form>

</body>
</html>