<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Walkie Talkie</title>
    <link th:href="@{/img/logo}" href="../public/image/header-logo.jpg" rel="icon"/>
</head>
<body>

<div class="header">
    <img th:src="@{/img/fullLogo}" height="100" width="100"/>
    <label class="title"><b>Walkie Talkie</b></label>
</div>

<form th:action="@{/profile/edit}" th:object="${profile}" enctype="multipart/form-data" method="post">
    <h2>Edit profile:</h2>

    <div th:class="${#fields.hasErrors('username') ? 'form-group has-error has-feedback' : 'form-group has success'}">
        <input type="text" name="username" id="username" th:field="*{username}"  placeholder="Username"/>
        <label for="username" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect data</label>
    </div>

    <div>
        <input type="text" name="firstName" id="firstName" th:field="*{firstName}" placeholder="First Name"/>
    </div>

    <div>
        <input type="text" name="lastName" id="lastName" th:field="*{lastName}" placeholder="Last Name"/>
    </div>

    <div th:class="${#fields.hasErrors('email') ? 'form-group has-error has-feedback' : 'form-group has success'}">
        <input type="text" name="email" id="email" th:field="*{email}"  placeholder="Email"/>
        <label for="email" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect data</label>
    </div>


    <div>
        <input type="file" id="file" th:object="${file}" accept=".jpg" name="file" placeholder="Photo"/>
    </div>

    <input type="submit" id="addProfile" value="Edit"/>
</form>

<h4 class="text-center"><a th:href="@{/profile/changePassword}">Change password</a></h4>

<form th:action="@{/profile}" method="get">
    <button type="submit" id="add">Back To Profile</button>
</form>

</body>
</html>