<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Walkie Talkie</title>
</head>
<body>

<form method="POST" th:action="@{/login}" class="form-signin">
    <h2 class="form-heading">Log in</h2>
    <span th:text="${message}"></span>
    <div class="form-group ${error != null ? 'has-error' : ''}">

        <input name="username" type="text"  placeholder="Username"
               autofocus="true"/>
        <input name="password" type="password"  placeholder="Password"/>
        <span th:text="${error}"></span>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <button type="submit">Log In</button>
        <h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>
    </div>

</form>



<!--<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/j_spring_security_check}" method="post">
    <div><label> User Name : <input type="text" name="j_username"/> </label></div>
    <div><label> Password: <input type="password" name="j_password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<form th:action="@{registration.html}" method="get">
    <button type="submit" class="button">Registration</button>
</form>-->
</body>
</html>