<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Walkie Talkie</title>
</head>
<body>

<h2 id="firstName"></h2>
<h2 id="lastName"></h2>
<p id="username"></p>
<p id="email"></p>


<script>
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            myObj = JSON.parse(this.responseText);
            document.getElementById("demo").innerHTML = myObj.firstName;
            document.getElementById("demo").innerHTML = myObj.lastName;
            document.getElementById("demo").innerHTML = myObj.username;
            document.getElementById("demo").innerHTML = myObj.email;
        }
    };
</script>
</body>
</html>