<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link th:href="@{/img/logo}" href="../public/image/header-logo.jpg" rel="icon"/>
    <title>Walkie Talkie</title>
</head>
<body>

<div class="header">
    <img th:src="@{/img/fullLogo}" height="100" width="100"/>
    <label class="title"><b>Walkie Talkie</b></label>
</div>

<h2 th:id="username" th:text="${profile.firstName}">lol</h2>
<h2 th:text="${profile.lastName}"></h2>
<p th:text="${profile.username}"></p>
<p th:text="${profile.email}"></p>

<img th:src="@{/img/photo/(username=${profile.username})}" height="100" width="100"/>

<form th:action="@{/profile/edit}" method="get" >
    <button type="submit">Edit profile</button>
</form>

<form th:action="@{/profile/search}" method="get" id="search-form">
    <div class="search-bar">
        <input type="text" id="user" name="find" maxlength="30" placeholder="Search.."/>
        <button type="submit" id="search">Search</button>
        <!--<input type="image" class="searchbutton" name="search" src="http://www.spheretekk.com/bc/images/search-icon.gif" alt="Search">-->
    </div>
</form>

<h2>List of Friends:</h2>
<ul th:each="friend,iterationStatus  : ${friends}">
    <li><img th:src="@{/img/photo/(username=${friend.username})}" height="50" width="50"/></li>
    <li id="firstName" th:text="${friend.firstName}"></li>
    <li id="lastName" th:text="${friend.lastName}"></li>
    <li id="username" th:name="username" th:text="${friend.username}"></li>
    <form th:action="@{/chat/(username=${friend.username})}" method="post">
        <li>
            <button type="submit">Chat</button>
        </li>
    </form>
</ul>
<h2>Requests by me</h2>
<ul th:each="receiver,iterationStatus  : ${insideFriendshipRequests}">
    <li><img th:src="@{/img/photo/(username=${receiver.username})}" height="50" width="50"/></li>
    <li id="firstName" th:text="${receiver.firstName}"></li>
    <li id="lastName" th:text="${receiver.lastName}"></li>
    <li id="username" th:name="username" th:text="${receiver.username}"></li>
</ul>

<h2>Requests by others</h2>
<ul th:each="asker,iterationStatus  : ${outsideFriendShipRequests}">
    <li><img th:src="@{/img/photo/(username=${asker.username})}" height="50" width="50"/></li>
    <li id="firstName" th:text="${asker.firstName}"></li>
    <li id="lastName" th:text="${asker.lastName}"></li>
    <li id="username" th:name="username" th:text="${asker.username}"></li>
    <form th:action="@{/profile/accept/(username=${asker.username})}" method="post">
        <li>
            <button type="submit">Accept</button>
        </li>
    </form>
</ul>


<a th:href="@{/logout}">Logout</a>
</body>
</html>