<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="../public/js/jquery-3.2.0.min.js"></script>
    <title>Walkie Talkie</title>
</head>
<body>

<h2 th:text="${profile.firstName}"></h2>
<h2 th:text="${profile.lastName}"></h2>
<p th:text="${profile.username}"></p>
<p th:text="${profile.email}"></p>

<img th:src="@{/img/photo/(username=${profile.username})}" height="100" width="100"/>


<form th:action="@{/search}" method="post" id="search-form">
    <div class="search-bar">
        <input type="text" id="user" name="searchRequest" maxlength="30" placeholder="Search.."/>
        <button type="submit" id="search">Search</button>
        <span th:text="${message}"></span>
        <!--<input type="image" class="searchbutton" name="search" src="http://www.spheretekk.com/bc/images/search-icon.gif" alt="Search">-->
    </div>
</form>

<ul th:each="profile,iterationStatus  : ${profiles}">
    <li id="firstName" th:text="${profile.firstName}"></li>
    <li id="lastName" th:text="${profile.lastName}"></li>
    <li id="username" th:text="${profile.firstName}"></li>
</ul>

<script>
    var persons = [
        { "name": "John Doe", "address": "Main Street 1" },
        { "name": "Jane Doe", "address": "Baker Street 1" },
        { "name": "Jack Doe", "address": "Church Street 1" }
    ];
    $(document).ready(function() {
        var table = $('<table/>').appendTo($('#somediv'));
        $(persons).each(function(i, person) {
            $('<tr/>').appendTo(table)
                .append($('<td/>').text(person.name))
                .append($('<td/>').text(person.address));
        });
    });
</script>


<script id="">
    $(document).ready(function () {
        $("#search-form").submit(function () {
            $.ajax({
                url: "search",
                type: "POST",
                data: $("#search-form").serialize()
            })
        })
    })
</script>

</body>
</html>