

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Walkie Talkie</title>
</head>
<body>
<form enctype="multipart/form-data" th:action="@{/registration}" method="post">
    <table class="center">

        <tr>
            <td>User Name:</td>
            <td><input type="text"  name="username"/></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="firstName"/></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="lastName"/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" name="password"/></td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input type="text" name="confirmedPassword"/></td>
        </tr>
        <tr>
            <td>Employee Photo:</td>
            <td><input type="file" accept=".jpg" name="file"/></td>
        </tr>

    </table>
    <input type="submit" class="button" id="2" value="Add"/>
</form>
</body>
</html>