<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Walkie Talkie</title>
</head>
<body>
<h1>Result of searching:</h1>
<form id="addFriend">
    <ul th:each="profile,iterationStatus  : ${profiles}">

        <li id="firstName" th:text="${profile.firstName}"></li>
        <li id="lastName" th:text="${profile.lastName}"></li>
        <li id="username" th:text="${profile.username}"></li>
        <li>
            <button type="submit" onclick="sendRequest()" id="add">Add to friends</button>
        </li>
        <li id="message"></li>
    </ul>
</form>

<script>
    function sendRequest() {
        $("#firstName").hide();

        /*inputText = $("#username").val();
        $.ajax({
            url: "add",
            type: "GET",
            dataType: 'json',
            contentType: 'application/json',
            mimeType: 'application/json',
            data: ({
                text: inputText
            }),
            success: function () {
                $("#message").text("Success!");
            }
        })*/
    }
</script>
</body>
</html>