<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="../public/js/jquery-3.2.0.min.js"
            th:src="@{../public/js/jquery-3.2.0.min.js}"></script>
    <title>Walkie Talkie</title>
    <link href = "../public/image/header-logo.jpg" rel="icon" type="image/jpg"/>
</head>
<body>
<h1>Result of searching:</h1>
<ul th:each="profile,iterationStatus  : ${profiles}">

    <li id="firstName" th:text="${profile.firstName}"></li>
    <li id="lastName" th:text="${profile.lastName}"></li>
    <li id="username" th:text="${profile.username}"></li>
    <li>
        <form th:action="@{/profile/add/(username=${profile.username})}" method="post">
            <button type="submit" id="add">Add to friends</button>
        </form>
    </li>
</ul>

<form th:action="@{/profile}" method="get">
    <button type="submit" id="add">Back To Profile</button>
</form>

</body>
</html>